* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Colors */

:root {
    --primary-color: #098E04;
    --secondary-color: #2ecc71;
    --accent-color: #067302;
    --background-color: #101014;
    --text-color: #EADCB2;
}

/* Fonts */

@font-face {
    font-family: 'Eras-Bold';
    src: url('../fonts/eras-itc-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Eras-Demi';
    src: url('../fonts/ITCErasStd-Demi.ttf') format('truetype');
}

@font-face {
    font-family: 'Eras-Medium';
    src: url('../fonts/ITCErasStd-Medium.ttf') format('truetype');
}

/* Style général */

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Header */

header {
  position: relative;
  height: 100vh;
  background: var(--background-color);
  overflow: hidden;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

header h1 {
  position: relative;
  z-index: 1;
  color: white;
}

