* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Colors */

:root {
    --primary-color: #4bff96;
    --secondary-color: #0ceb69;
    --accent-color: #18c761;
    --background-color: #101014;
    --text-color: #fffdf5;
}

/* Fonts */

@font-face {
    font-family: 'Eras-Bold';
    src: url('../fonts/eras-itc-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Eras-Demi';
    src: url('../fonts/ITCErasStd-Demi.ttf') format('truetype');
}

@font-face {
    font-family: 'Eras-Medium';
    src: url('../fonts/ITCErasStd-Medium.ttf') format('truetype');
}

/* Span */

span {
    color: var(--primary-color);
    font-weight: bold;
    text-shadow: #0ceb69 0px 0px 6px;
}

/* Style général */

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

::-webkit-scrollbar {
  display: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1, h2 {
    font-family: 'Eras-Bold', sans-serif;
}

h3, h4 {
    font-family: 'Eras-Demi', sans-serif;
}

text, p {
    font-family: 'Eras-Medium', sans-serif;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

/* Header */

header {
  position: relative;
  text-align: center;
  height: 100vh;
  background: var(--background-color);
  overflow: hidden;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* NavBar */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(var(--background-color), 0.42);
    backdrop-filter: blur(10px);
    z-index: 10;
}

nav img {
    height: 50px;
    margin: 1.2% 10%;
    float: left;
}

nav img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s;
}

nav ul {
    display: flex;
    list-style: none;
    float: right;
    margin: 1.2% 10%;
    padding: 0;
    align-items: center;
    height: 50px;
    z-index: 10;
}

nav ul li {
    margin-left: 60px;
    font-family: 'Eras-Demi', sans-serif;
    font-size: 1.3rem;
    transition: color 0.3s;
    color: var(--text-color);
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

nav ul li a:hover {
    color: var(--primary-color);
    text-shadow: #0ceb69 0px 0px 6px;
    cursor: pointer;
    margin-left: 6%;
    transition: color 0.3s, margin-left 0.3s;
}


/* Titre */

#titreHeader {
    position: absolute;
    margin-top: 12%;
    z-index: 1;
    color: var(--primary-color);
    font-family: 'Eras-Bold', sans-serif;
}

#titreHeader h1 {
    font-size: 4.7rem;
    text-shadow: #0ceb69 0px 0px 6px;
}

#titreHeader h2 {
    color: var(--text-color);
    font-size: 2.7rem;
}

#titreHeader h3 {
    color: var(--text-color);
    font-size: 1.6rem;
    margin-top: 6%;
}

/* Main */

/* Timeline*/

/* Titre */

#timeline h2 {
  position: absolute;
  left: 0;
  margin: 12% 0;
  font-size: 5.4rem;
  z-index: 2;
  transform: rotate(-90deg);
  text-shadow: #fffdf5 0px 0px 5px;
  text-align: right;
}

/* Conteneurs de la timeline */

#timeline {
  position: relative;       /* référence pour la ligne */
  height: 60vh;             /* hauteur visible de la timeline */
}

/* Ligne de temps */

.timeline-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;                 /* 50% de #timeline, pas de toute la page */
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--primary-color);
  transform: translateY(-50%);
  z-index: 0;
}

.timeline-wrapper {
  display: flex;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding-left: 16rem; /* <- décale les cartes pour laisser la place au titre */
}


/* Cartes */

.timeline-card {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--background-color);
  height: auto;
  max-height: fit-content;
  min-width: 360px;
  padding: 2% 2%;
  transition: transform 0.3s;
  z-index: 1;
}

/* Alternance Haut/Bas */

.timeline-card.odd {
  margin: 6% 4%;
}

.timeline-card.even {
  margin: 18% 4%;
}

/* ---- */

.timeline-card h3 {
  font-size: 1.6rem;
  margin-bottom: 6%;
  color: var(--primary-color);
}

.timeline-card p {
  font-size: 0rem;
  line-height: 1.2;
  hyphens: auto;
  text-align: justify;
}

.timeline-date {
  font-size: 1rem;
  margin-bottom: 4%;
  font-family: "Eras-Medium", sans-serif;
}

.timeline-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px var(--primary-color);
  cursor: pointer;  
}

.timeline-card:hover p {
  font-size: 1rem;
  transition: font-size 0.3s;
}

/* .espace {
  height: 100vh;
} */